* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('team.jpg') no-repeat center center/cover;
}

#add-task-container {
    background-color: white;
    padding: 20px 10px;
    width: 350px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 5;
    padding: 5px;
    font-size: 1.2rem;
    margin-right: 10px;
    border-radius: 5px;

}

#add-task {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    background-color: white;
    border: green solid 2px;
    border-radius: 5px;
    transition: .3s;
    color: green;
    cursor: pointer;
}

#add-task:hover {
    background-color: green;
    color: white
}

.task {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.task li {
    list-style: none;
    flex: 5;
}

.task .checkTask  {
    flex: 1;
    margin-right: 5px;
    border: 1px solid orange;
    color: orange;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
}
.task .deleteTask {
    flex: 1;
    border: 1px solid red;
    color: red;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

}
.task .checkTask:hover {
    color: white;
    background-color: orange;
}
.task .deleteTask:hover {
    color: white;
    background-color: red;
}