* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: tomato;
    font-size: 1.1rem;
}
.accordion {
    width: 65%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}
.accordion-title {
    text-align: center;
    margin-bottom: 10px;
}
.accordion .content-container .question {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: .5s;

}
.accordion .content-container .question::after {
    content: '+';
    position: absolute;
    right: -5px;
}
.accordion .content-container .answer {
    /* width: 100%; */
    line-height: 1.5;
    height: 0;
    overflow: hidden;
    /* display: none; */
    transition:  .5s;
}
.accordion .content-container.active .answer {
    height: 170px;
    /* display: block; */
    transition: .5s;

}
.accordion .content-container.active .question {
    font-size: 16px;
}
.accordion .content-container.active .question::after {
    content: '-';
    /* position: absolute;
    right: -5px; */
    font-size: 30px;
    transition: .5s;

}

